@{
    ViewBag.Title = "Plan Semanal";
}
<div class="row">
    <div class="col-lg-12">
        <h4 class="page-header">
            Aprobar Plan Semanal
        </h4>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="well well-sm" style="background-color: #fff; border-color:#337AB7;">
    <div class="row">
        <div class="col-lg-3">
            <select id="selPeriodos" class="js-example-basic-multiple js-states form-control" multiple="multiple"><option> Cargando...</option><</select>
            <input type="hidden" id="selecPeriodos" />
        </div>
        <div class="col-lg-4">
            <select id="selTipoFigura" class="js-example-basic-multiple js-states form-control" multiple="multiple"><option> Cargando...</option><</select>
            <input type="hidden" id="selecTipoFigura" />
        </div>
        <div class="col-lg-4">
            <select id="selNombreFigura" class="js-example-basic-multiple js-states form-control" multiple="multiple"><option> Cargando...</option><</select>
            <input type="hidden" id="selecNombreFigura" />
        </div>
        <div class="col-lg-1">
            <a href="javascript:;" class="btn btn-primary" id="btnFilter"><i class="fa fa-filter"></i> Filtrar</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Plan Semanal</h3>
            </div>
            <div class="panel-body">
                <div id="bbGrid-clear" style="overflow-x: auto; overflow-y: hidden;">
                    <div id="cargandoInfo">
                        <div class='alert alert-warning'>
                            <button type='button' class='close' data-dismiss='alert'>x</button>
                            Seleccionar periodo si desea filtrar la información
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="nuevo-PlanSemanal"
     tabindex="-1" role="dialog"
     aria-labelledby="nuevoPlanSemanalLabel">
</div>

<div class="modal fade bs-example-modal-lg" id="nuevo-PlanDetalle"
     tabindex="-1" role="dialog"
     aria-labelledby="nuevoPlanDetalleLabel">
</div>

<div class="modal fade bs-example-modal-lg" id="actualiza-PlanDetalle"
     tabindex="-1" role="dialog"
     aria-labelledby="nuevoPlanDetalleLabel">
</div>

<div class="modal fade bs-example-modal-lg" id="nuevo-Certificados"
     tabindex="-1" role="dialog"
     aria-labelledby="nuevoCertificadosLabel">
</div>

<div class="modal fade bs-example-modal-lg" id="nuevo-Preregistros"
     tabindex="-1" role="dialog"
     aria-labelledby="nuevoPreregistrosLabel">
</div>

<div class="modal fade bs-example-modal-lg" id="nuevo-Mapa"
     tabindex="-1" role="dialog"
     aria-labelledby="nuevoMapaLabel">
</div>
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet'>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>

@section Scripts {
    @Html.IncludeVersionedJs(Url.Content("~/Scripts/PlanSemanalAprobacion.js"))
}
