<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Permisos  </h4>
        </div>
        <div class="modal-body">
            <div class="clientAlertDlg"></div>
            <form id="frmSeguridad" name="frmSeguridad">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="bbGrid-seguridad" class="col-lg-12"> <div id="cargandoInfoSeg">@Resources.Global.menuLoading</div>  </div>
                    </div>
                </div>
            </form>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary btn-GuardaSeguridad">Guardar</button>
        </div>
    </div><!-- /.modal-content -->
</div>

