@{
    ViewBag.Title = "Inicio";
}

<div class="row">
    <img src="~/Content/images/Logo_SAPTRA.jpg" class="img-responsive center-block" />
    <input type="hidden" id="nombreUsu" value="@ViewBag.UserName"/>
</div>






@section Scripts{
    <script type="text/javascript">
            var Inicio = {
                CargarLocalStorage: function () {
                    if (localStorage.idUser === undefined || localStorage.idUser === '') {
                        var nombre = "@ViewBag.UserName";
                        FCH.ReiniciaLocalStorage('@ViewBag.IdUsuario', nombre);
                        FCH.AsignarAvatarLocalStorage('@ViewBag.UserAvatar');
                    }
                }
            };
    </script>
}
