<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <table class="" border="1">
        <tr>
            <th colspan="2"><strong>REPORTE GPS</strong></th>
        </tr>
    </table>
    <table class="tg" border="1">
        <tr>
            <th style="background-color: #ddebf7;">FECHA</th>
            <th style="background-color: #ddebf7;">COORDENADAS</th>
        </tr>

        vrDetalle

    </table>
</body>
</html>
